
.emprows {
    background-color: lightblue;
    color: black;

}

.rowList {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
}

.first {
}
.second {
}
.third {

}