html,body {
    width: 100%;
    height: 100%;
    font-size: 13px;
}
html,a,p,body,h1,h2,h3,h4,h5,h6,input,label,select,option,ul,li {
font-family: "Open Sans","Helvetica Neue",Arial,Verdana;
}
section {
width: 100%;
    padding-top: 50px;
}
#search {
max-width: 450px;
margin: 0px auto;
display: block;
padding-top: 8px;
}
textarea{
    max-width:100%;
}
#search input[type="text"] {
    border: 1px solid #d1d1d1;
    font: 400 18px "Helvetica Neue",Arial,Verdana;
    width: 350px;
    padding: 6px 10px 6px 20px;
    border-radius: 4px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

#userContainer, .userContainer {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
}
#userContainer:hover , .userContainer:hover {
    cursor: pointer;
    background-color: #eee;
}

#superContainer, .superContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 5px 5px 10px;
    margin: 0 7px 20px 7px;
}

#superContainer:hover , .superContainer:hover {
    cursor: pointer;
    background-color: #eee;
}

.profiletest {
margin: 5px 0px;
width: 100%;
    padding: 5px 0px;
}
.profiletest:hover{
cursor: pointer;
background-color: white;
}
.clear_both {
clear: both;
}
.float_left {
float: left;
}
#container a {
color:black;
}
.loader {
    background-image: url(/media/images/livehealth_loader.gif);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    display:none;
    z-index:1051;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    width:100%;
    height:100%;
    opacity:0.8;
    background-color: white;
}
.bs-footer{
    border-right: 1px solid #aaa;
    width:100%;
    background-color: white;
    padding: 15px 5px;
    font-size: 12px;
}
.footer-links{
    padding-left: 0;
    color: #999;
    margin: 0;
}
.footer-links li:first-child {
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.inputLoader {
    background-image:url('/media/images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center right;
}

.operationLoader {
    background-image:url('/media/images/operation_loader.gif');
    background-repeat: no-repeat;
    background-position-x: 65%;
    background-position-y: 29%;
    background-size: 20px;
}
.container{
    width: 100%;
}
.labHome{
    width: 1172px;
}
hr{
    margin: 10px 0;
}
.bs-sidenav {
    background-color: #fff;
    margin: 0;
    padding-top: 0;
    border-right: 1px solid #aaa;
}
.bs-sidenav > .nav-tabs > .dropdown {
    font-size: 12px;
}
.grp-object{
    margin: 20px 0 20px 0;
    font-size: 14px;
}

/* Medium & Large */
@media screen and (min-width: 992px){

    .labHome{
        width: 1172px;
    }
    .bs-sidebar {
        position: fixed;
        top: 30px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px 0 0 0;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 14px;
    }
    #nav-sidebar {
        padding:0px;
        position:fixed;
        background-color:#fff;
        height:100%;
        z-index:51;
        font-size: 12px;
        border-right: 1px solid #aaa;
    }
    #search {
        display: block;
    }
    #hoverDropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
/* Small */
@media screen and (max-width: 991px){
    .bs-sidebar {
        top: 30px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px 0 0 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .clear-float-mobile
    {
        float: none !important;
    }
    #nav-sidebar {
        padding:0;
        background-color:#fff;
        height:100%;
        z-index:51;
        margin-left: -28%;
        position: absolute;
        top:0;
    }
    #search {
        display: none;
    }
    .labHome{
        width: 100%;
    }
    .button-spacing-xs{
        margin: 5px 3px 5px 3px;
    }
}
#nav-sidebar > .bs-sidebar > ul > li.active > a{
    border-radius: 0;
}
#nav-sidebar > .bs-sidebar > ul > li.active > ul > li.active > a{                   /*Child color abhimanyu*/
    background-color: #84AED3;
}
#nav-sidebar > .bs-sidebar > ul > li.active > ul > li > a{
    border-left: 15px solid #ddd;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}
#nav-sidebar > .bs-sidebar > ul > li.active > ul > li{
    margin: 0;
}
.form-control {
    border-color: #aaa;
}
#click{
    cursor: pointer;
    height: 18px;
    margin-top: 13px;
}
#sidebar-nav{
    height: 100%;
    z-index: 1050;
    position: fixed;
    top:0;
    left: 0;
    width: 5.5%;
    cursor: pointer;
}
#sidebar-close{
    height: 100%;
    z-index: 50;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    cursor: pointer;
    background-color: #000;
    opacity: 0.6;
}
#footer {
position: fixed;
width: 100%;
bottom: 0px;
margin:0px;
z-index:100;
background-color:white;
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 14px;
}
.loaderCircle {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: none;
    -webkit-box-sizing: border-box;
    border: solid 5px rgba(255, 255, 255, 0.2);
    border-top-color: #ddd;
    -webkit-animation: spin 1s infinite linear;
    float: left;
}
.financeLoaderCircle {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    border: solid 5px rgba(255, 255, 255, 0.2);
    border-top-color: #ddd;
    -webkit-animation: spin 1s infinite linear;
    float: right;
}

.typeheadLoaderAdSearchCircle {
    width: 25px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    border: solid 3px rgba(255, 255, 255, 0.2);
    border-top-color: #2196F3;
    border-bottom-color: #2196F3;
    border-right-color: #2196F3;
    -webkit-animation: spin 1s infinite linear;
    height: 25px;
    padding: 0;
    margin-right: 5px;
    margin-top: -30px;
    float:right;
}

.typeheadLoaderCircle {
    width: 25px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    border: solid 3px rgba(255, 255, 255, 0.2);
    border-top-color: #2196F3;
    border-bottom-color: #2196F3;
    border-right-color: #2196F3;
    -webkit-animation: spin 1s infinite linear;
    height: 25px;
    padding: 0;
    margin-left: -65px;
    margin-top: 4px;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.pointerCursor {
    cursor: pointer;
}
.optionsLink {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 0 4px 0 4px;
}
.optionsLink-div {
    position: relative;
}
.optionsLink:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #333;
}
.full-floatWidth, .draggable-floatWidth {
    float: left;
    width: 100%;
}
.padding-zero {
    padding: 0;
}
.testName {
    margin-right: 5px;
    margin-bottom: 0;
}
.label-position {
    margin-left: 5px;
    font-size: 12px;
}
.progress-bar-margin {
    margin-top: 10px;
    margin-bottom: 5px;
}
.slight-margin {
    margin-top: 2px;
}
.text-line-height{
    line-height: 35px;
}
.label-warning-inactive{
    border: 2px solid;
    color: #f0ad4e;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-info-inactive{
    border: 2px solid;
    color: #5bc0de;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-primary-inactive{
    border: 2px solid;
    color: #428bca;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-default-inactive{
    border: 2px solid;
    color: #999;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-danger-inactive{
    border: 2px solid;
    color: #d9534f;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-success-inactive{
    border: 2px solid;
    color: #5cb85c;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.draggable-listItem{
    border: 1px solid #bbb;
    padding: 10px;
    background-color: #f5f5f5;
}
.handle{
    cursor: move;
}
#ulItemList{
    list-style: none;
}
#ulItemList > li{
    margin: 10px;
}
#ulItemHistoryList > li{
    margin: 10px;
}
.help-notify {
    background-color: #4caf50;
    color:#fff;
}
.help-notify a {
    color: #fff;
}
.dispatched-report{
    background-color: #ddd;
}
.signed-report{
    background-color: #5bc0de;
}
.completed-report{
    background-color: #5cb85c;
}
.progress-bar-default{
    background-color: #aaa;
}
#reportDiv{
    min-height: 700px;
}

.label-partiallyFilled{
    background-color: #BA68C8;
}

.spin {
  -webkit-animation: spin .4s infinite linear;
  -moz-animation: spin .4s infinite linear;
  -o-animation: spin .4s infinite linear;
  animation: spin .4s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollable{
    overflow-y: auto;
    max-height: 400px;
}

.lockFeature{
    position: absolute;
    right: 5%;
    top: 30%;
}

.textManage{
    overflow: hidden;
    word-break: break-word;
    display: block
}

.lockPosition {
padding-right: 30px;
}

.textAlignment{
    display: block;
    max-width: 700px;
    margin: 20px auto;
}

.padding-in-headerText{
    padding-top: 0.5em;
}

.padding-top-2 {
    padding-top: 2em;
}

.span-right-padding{
   padding-right: 10px;
}

.fullWidth{
   width: 100%;
}

.headerStreap {
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    text-align: center;
    z-index: 1001;
    position: fixed;
    top: 0;
}

.paymentPendingColor{
   background-color: #ebccd1;
   color: rgb(169, 68, 66);
}

.trialLoginColor{
   background-color: #faebcc;
   color: rgb(138, 109, 59);
}

.marginTop{
    margin: 0;
    top: 50px;
}
.progress-bar{
    font-size: 8px;
    line-height: 10px;
}
.progress{
    height: 10px;
}

.card-border {
    border: 0.1em solid #999;
    border-radius: 0.25em;
    background-color: #fff;
}

.supportLink{
    margin: 0;
    font-size: 12px;
    color: #666;
}

.padding_zero{
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}
