<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Add Staff</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <script src="{{ STATIC_URL }}js/jqueryv1.11.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/profileUpload.js"></script>
        <script src="{{ STATIC_URL }}js/collaps.js"></script>
        <script type="text/javascript" src="/static/js/img.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/addStaff.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.Jcrop.min.js"></script>
        <link href="{{ STATIC_URL }}CSS/lab.css?v=1.5" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/jquery.Jcrop.min.css" rel="stylesheet">
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse" style="margin:0;">
        </header>
        <section>
            <div class="col-md-2 col-sm-4 col-xs-4" id="nav-sidebar">
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-nav"></div>
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-close" style="display: none;"></div>
                <div class="bs-sidebar col-md-2">
                    <img class="pull-right hidden-md hidden-lg" src="{{ MEDIA_URL }}../media/images/sidebar.png"
                         onclick="sidebar()"
                         id="click" title="Click to view the side panel">
                    <ul class="nav nav-pills nav-stacked bs-sidenav">
                        <li style="font-size: 14px">
                            <a href="/hrDashboard/"><b>Dashboard</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li class="active" style="font-size: 14px">
                            <a href="#"><b>Staff Management</b></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#">Add/Edit Staff</a></li>
                                <li><a href="/employeeInformation/">Employee Information</a></li>
                            </ul>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/bulkAttendanceDaily/"><b>Attendance Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/employeeListForSalary/"><b>Payroll Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li><a href="/hrLogout/"><b>Logout</b></a></li>
                        <hr style="margin: 0">
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2" style="padding: 0px 30px;">
                <div class="form-group" style="padding-top: 2%">
                    <div class="col-md-offset-2 col-sm-offset-2 col-xs-10"></div>
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-primary">Add Staff</a>
                        <a href="/staffEdit/" class="btn btn-default">Edit Staff</a>
                    </div>
                 </div>
                <form method="POST" name="asform" id="myForm" action="/saveNewStaff/" class="form-horizontal"
                      role="form">{% csrf_token %}
                    <div class="form-group">
                        <label id="errorMessage" class="clear_both col-sm-12 col-xs-12 col-md-12"> </label>
                    </div>
                    {% if msg1 == "Record added Succesfully" %}
                        <div class="form-group">
                            <div class="alert alert-success">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{ msg1 }}</strong>
                            </div>
                        </div>
                    {% elif msg1 == "Server error" %}
                        <div class="form-group">
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{ msg1 }}</strong>
                            </div>
                        </div>
                    {% endif %}

                    <div id="personal">
                        <div class="panel panel-default">
                            <a href="#" class="list-group-item" data-toggle="collapse" data-target="#Det1" data-parent="#personal" >Personal
                                Details
                                <span class="glyphicon glyphicon-plus pull-right"></span></a>
                            <div id="Det1" class="sublinks collapse in" aria-expanded="true">
                                <br>
                                <div class="form-group required" style="padding-left:4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Name:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" name="name" id="user" placeholder="Enter Name"
                                               required>
                                    </div>
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Email:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control " id="email" onkeyup="validEmail('email')"
                                               placeholder="example@gmail.com" name="email"  required>

                                    </div>
                                </div>
                                <div class="form-group required" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Gender:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <label class="radio-inline"><input type="radio" name="gender" value="Male">Male</label>
                                        <label class="radio-inline"><input type="radio" name="gender" value="Female">Female</label>
                                    </div>
                                </div>
                                <div class="form-group required" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Mobile No:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" maxlength="10" name="contact" id="phonenumber"
                                               placeholder="Enter Contact Number" required>
                                    </div>
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Birth Date:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="date" class="form-control" id="bdate" name="bdate" placeholder="Enter Address"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group required" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Marital Status:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <label class="radio-inline"><input type="radio" name="mstatus" id="single" value="Single"
                                                                           onclick="checkMarriatleStatus()">Single</label>
                                        <label class="radio-inline"><input type="radio" name="mstatus" id="married" value="Married"
                                                                           onclick="checkMarriatleStatus()">Married</label></div>
                                    <div id="dobDiv" style="display: none">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Anniversary Date:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="date" class="form-control" id="andate" name="adate">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Address:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <textarea class="form-control" rows="4" id="address" name="add" placeholder="Enter Address"
                                                  required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="CompanyDetails">
                        <div class="panel panel-default">
                            <a href="#" class="list-group-item" data-toggle="collapse" data-target="#Det4"
                               data-parent="#personal">Company Details
                                <span class="glyphicon glyphicon-plus pull-right"></span></a>
                            <div id="Det4" class="sublinks collapse">
                                <br>
                                <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Department:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <select class="form-control" id="deptartment" name="department">
                                            {% for dept in dept %}
                                                <option>{{ dept.deptName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Designation:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <select class="form-control" name="designation">
                                            <option>Developer</option>
                                            <option>Manager</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Location:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="wlocation" name="wlocation"
                                               placeholder="Enter Work Location"
                                               required>
                                    </div>
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Experience:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="exp" name="exp" placeholder="Enter Enxperience"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Joining Date:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="date" class="form-control" id="jDate" name="jdate" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="BankDetails">
                        <div class="panel panel-default">
                            <a href="#" class="list-group-item" data-toggle="collapse" data-target="#Det5"
                               data-parent="#CompanyDetails">Bank Details
                                <span class="glyphicon glyphicon-plus pull-right"></span></a>
                            <div id="Det5" class="sublinks collapse">
                                <br>
                                <div class="form-group required" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Bank Name:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="bankname" name="bankName"
                                               placeholder="Enter Bank Name.
                                               " required>
                                    </div>
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Account Type:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="acctype" name="accType"
                                               placeholder="Account Type"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group required" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Account Number:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" name="accNo" id="accNo"
                                               placeholder="Enter Account No" required>
                                    </div>
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">PAN Number:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="panNo" name="pno" placeholder="Enter PAN No"
                                               required>
                                    </div>
                                </div>

                                <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Liscene Number:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" name="lno"
                                               placeholder="Enter Liscene No" required>
                                    </div>
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">IFSC Code:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="IFSC" name="IFSC"
                                               placeholder="Enter IFSC Code"  required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="salaryPolicy">
                        <div class="panel panel-default">
                            <a href="#" class="list-group-item" data-toggle="collapse" data-target="#policy"
                               data-parent="#BankDetails">Policy
                                Details
                                <span class="glyphicon glyphicon-plus pull-right"></span></a>
                            <div id="policy" class="sublinks collapse">
                                <br>
                                <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Salary:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="salary" name="salary" placeholder="Enter salary ammount" required>
                                    </div>
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Salary Type:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="salaryType" name="salaryType"
                                               placeholder="Enter Salary Type" required>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Name:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="salaryPolicyName" name="salaryPolicyName"
                                               placeholder="Enter Policy Name" required>
                                    </div>
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">%:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="percentage" name="percentage"
                                               placeholder="Enter % " required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Nationality">
                        <div class="panel panel-default">
                            <a href="#" class="list-group-item collapsed" data-toggle="collapse"
                               data-target="#Det3"
                               data-parent="#salaryPolicy" aria-expanded="true">Nationality Details
                                <span class="glyphicon glyphicon-plus pull-right"></span></a>
                            <div id="Det3" class="sublinks collapse">
                                <br>
                                <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Nationality:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="nation1" name="nationality"
                                               placeholder="Enter nationality" required>
                                    </div>
                                    <div class="form-group" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Adhar No:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" id="adhar" name="adharNo"
                                                   placeholder="Entre Adhar card no" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Passport No:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="passportNo" name="passport"
                                               placeholder="Entre Passport no" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center col-sm-12 col-xs-12 col-md-12 ">
                    <button type="button" class="btn btn-primary" onclick="addStaffValidation()">Submit
                    </button>
                    <button style="margin-left:20px" type="reset" class="btn btn-primary">Reset
                    </button>
                </div>
            </div>
        </section>
    </body>
</html>