<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bulk Attendance Monthly</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <script src="{{ STATIC_URL }}js/jQuery v1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/Bootstrap v3.1.0.min.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/BulkAttendanceMonthly.js"></script>
        <script src="{{ STATIC_URL }}js/datepicker.js"></script>
        <script src="{{ STATIC_URL }}js/datepicker.en.js"></script>
        <link href="{{ STATIC_URL }}CSS/datepicker.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/divclasses.css"/>
        <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
        <link href="{{ STATIC_URL }}CSS/lab.css?v=1.5" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse" style="margin:0;">
        </header>
        <section>
            <div class="col-md-2 col-sm-4 col-xs-4" id="nav-sidebar">
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-nav"></div>
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-close" style="display: none;"></div>
                <div class="bs-sidebar col-md-2">
                    <img class="pull-right hidden-md hidden-lg" src="{{ MEDIA_URL }}../media/images/sidebar.png"
                         onclick="sidebar()"
                         id="click" title="Click to view the side panel">
                    <ul class="nav nav-pills nav-stacked bs-sidenav">
                        <li style="font-size: 14px">
                            <a href="/hrDashboard/"><b>Dashboard</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/staffAdd/"><b>Staff Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li class="active" style="font-size: 14px;">
                            <a href="#"><b>Attendance Management</b></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/bulkAttendanceDaily/">Daily Attendance</a></li>
                                <li class="active"><a href="#">Monthly Attendance</a></li>
                                <li><a href="/individualAttendanceSummary/">Individual Summary</a></li>
                                <li><a href="/bulkAttendanceSummary/">Bulk Summary</a></li>
                            </ul>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/employeeListForSalary/"><b>Payroll Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li><a href="/hrLogout/"><b>Logout</b></a></li>
                        <hr style="margin: 0">
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <div class="form-group">
                    <label class="control-label"><h3>Bulk Attendance Monthly</h3>
                    </label>
                </div>
                <hr style="margin: 0">
                <div class="form-group">
                    <div id="errorDiv" class="clear_both col-md-10 col-sm-10 col-xs-10">
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 10px">
                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-12">
                        <label class="control-label" style="float: right;padding-top: 8px">
                            Pick Multiple Dates :
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <input type="text" id="attendancedatesID" data-multiple-dates="31"
                               data-multiple-dates-separator=", " data-position="bottom left"
                               data-language="en" class="form-control datepicker-here"
                               placeholder="Click to pick dates">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <button type="button" class="btn btn-primary" style="width: 24%"
                                onclick="displayForm()">Check
                        </button>
                    </div>
                </div>
                <hr class="clear_both">
                <div class="form-group">
                    <div id="errorDiv1" class="clear_both col-md-10 col-sm-10 col-xs-10"></div>
                </div>
                <div class="form-group">
                    {% if msg == 'Success' %}
                        <div class="alert alert-success col-md-10 col-sm-10 col-xs-10">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            Attendance Saved Successfully...
                        </div>
                    {% elif msg == 'Error' %}
                        <div class="alert alert-danger col-md-10 col-sm-10 col-xs-10">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            Error For Saving Attendance...
                        </div>
                    {% endif %}
                </div>
                {% if foundMessage == 'found' %}
                    <form id="intimeForm" method="post" action="/saveBulkAttendanceMonthly/" class="form-horizontal"
                          role="form">{% csrf_token %}
                        <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="form-group">
                                <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-12"
                                    style="padding-right: 30px">
                                    <label class="radio-inline">
                                        <input type="radio" value="InTime" name="timestatus" id="intime"
                                               onclick="checkTimeStatus()" checked><b>InTime</b>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="OutTime" name="timestatus" id="outtime"
                                               onclick="checkTimeStatus()"><b>OutTime</b>
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6 text-right">
                                    <label class="control-label">Picked Dates : </label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6" style="padding-top: 10px;padding-right: 70px">
                                    {% for d in dates %}
                                        {{ d }}{{ ',' }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr class="clear_both">
                        <div class="col-md-12 col-sm-12 col-xs-12" id="intimeDiv" style="display: block">
                            {% if intimeEmployeeList %}
                                <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-left: 40px;">
                                            <div class="checkbox" onclick="intimeCheckboxStates({{ 0 }})">
                                                <input class="first" type="checkbox" id="intimeSelectall">
                                                <label for="intimeSelectall"><b>Select All</b></label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="padding-right: 30px">
                                            <div class="input-group date float_left picktime">
                                                <input readonly="true" id="intimeId{{ emplist.empId }}"
                                                       type="text" placeholder="Select Time"
                                                       class="form-control" name="intime">
                                                 <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="clear_both">
                                {% for emplist in intimeEmployeeList %}
                                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1
                                        col-md-8 col-sm-8 col-xs-12" style="padding-top: 14px">
                                        <div class="rowList form-group" onclick="intimeCheckboxStates({{ emplist.empId }})">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="checkbox">
                                                    <input class="first" type="checkbox" name="intimeEmpList"
                                                           value="{{ emplist.empId }}">
                                                    <label>{{ emplist.empId }}&nbsp;&nbsp;&nbsp;{{ emplist.empName }}</label>
                                                    <input type="hidden" name="intimeHiddenList" value="false">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    <hr class="clear_both">
                                    <div class="col-sm-9 col-md-9 col-xs-12">
                                        {% for d in dates %}
                                            <input type="hidden" name="attendDates" value="{{ d }}">
                                        {% endfor %}
                                        <button type="button" class="btn btn-primary" style="float: right;width: 20%"
                                                onclick="intimeValidation()">Save
                                        </button>
                                    </div>
                                </div>
                            {% else %}
                                <div class='alert alert-danger col-md-10 col-sm-10 col-xs-10'
                                     id='editErrorAlert'>
                                    <label id='error'>Employee record not found for saving InTime</label>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                    <form method="post" id="outtimeForm" action="/saveBulkAttendanceMonthly/" class="form-horizontal"
                          role="form">{% csrf_token %}
                        <div class="col-md-12 col-sm-12 col-xs-12" id="outtimeDiv" style="display: none">
                            {% if outtimeEmployeeList %}
                                <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-left: 40px;">
                                            <div class="checkbox" onclick="outtimeCheckboxStates({{ 0 }})">
                                                <input class="second" type="checkbox" id="outtimeSelectall">
                                                <label for="outtimeSelectall"><b>Select All</b></label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="padding-right: 30px">
                                            <div class="input-group date float_left picktime">
                                                <input readonly="true" id="outtimeId{{ emplist.empId }}"
                                                       type="text" placeholder="Select Time"
                                                       class="form-control" name="outtime">
                                                 <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="clear_both">
                                {% for emplist in outtimeEmployeeList %}
                                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1
                                        col-md-8 col-sm-8 col-xs-12" style="padding-top: 14px">
                                        <div class="rowList form-group" onclick="outtimeCheckboxStates({{ emplist.empId }})">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="checkbox">
                                                    <input class="second" type="checkbox" name="outtimeEmpList"
                                                           value="{{ emplist.empId }}">
                                                    <label>{{ emplist.empId }}&nbsp;&nbsp;&nbsp;{{ emplist.empName }}</label>
                                                    <input type="hidden" name="outtimeHiddenList" value="false">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    <hr class="clear_both">
                                    <div class="col-sm-9 col-md-9 col-xs-12">
                                        {% for d in dates %}
                                            <input type="hidden" name="attendDates" value="{{ d }}">
                                        {% endfor %}
                                        <button type="button" class="btn btn-primary" style="float: right;width: 20%"
                                                onclick="outtimeValidation()">Save
                                        </button>
                                    </div>
                                </div>
                            {% else %}
                                <div class='alert alert-danger col-md-10 col-sm-10 col-xs-10'
                                     id='editErrorAlert'>
                                    <label id='error'>Employee record not found for saving OutTime</label>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                {% elif foundMessage == 'notfound' %}
                    <div class='alert alert-danger col-md-10 col-sm-10 col-xs-10'
                         id='editErrorAlert'>
                        <label id='error'>Employee record not found. Please pick another dates.</label>
                    </div>
                {% endif %}
            </div>
        </section>
    </body>
    <script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
    <link type="text/css" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(".picktime").datetimepicker({
            pickDate: false,
            format: 'HH:mm'
        });
    </script>
</html>