<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Calculating Salary...</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <script src="{{ STATIC_URL }}js/jqueryv1.11.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/CalculateSalary.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
        <link href="{{ STATIC_URL }}CSS/lab.css?v=1.5" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse" style="margin:0;">
        </header>
        <section>
            <div class="col-md-2 col-sm-4 col-xs-4" id="nav-sidebar">
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-nav"></div>
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-close" style="display: none;"></div>
                <div class="bs-sidebar col-md-2">
                    <img class="pull-right hidden-md hidden-lg" src="{{ MEDIA_URL }}../media/images/sidebar.png"
                         onclick="sidebar()"
                         id="click" title="Click to view the side panel">
                    <ul class="nav nav-pills nav-stacked bs-sidenav">
                        <li style="font-size: 14px">
                            <a href="/hrDashboard/"><b>Dashboard</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/staffAdd/"><b>Staff Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px;">
                            <a href="/bulkAttendanceDaily/"><b>Attendance Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li class="active" style="font-size: 14px;">
                            <a href="#"><b>Payroll Management</b></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#">Calculate Salary</a></li>
                                <li><a href="/bulkExportSalary/">Bulk Export Salary</a></li>
                            </ul>
                        </li>
                        <hr style="margin: 0">
                        <li><a href="/hrLogout/"><b>Logout</b></a></li>
                        <hr style="margin: 0">
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <div class="form-group">
                    <label class="control-label"><h3>Calculate Employee Salary</h3>
                    </label>
                </div>
                <hr style="margin: 0">
                <div class="form-group">
                    <label id="errorDiv" class="clear_both col-md-10 col-sm-10 col-xs-10">
                    </label>
                </div>
                <form id="salarySlipForm" method="post" action="/calculateEmployeeSalary/" class="form-horizontal"
                                      role="form">{% csrf_token %}
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-5">
                            <label class="control-label" style="float: right;padding-top: 8px">Employee:</label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <select id="selectEmpId" class="form-control" name="employee">
                                <option value="">Select--</option>
                                {% for sel in emplist %}
                                    <option value="{{ sel.empId }}">{{ sel.empName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-4">
                            <label class="control-label" style="float: right;padding-top: 8px">Month :</label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <select id="selectMonthId" class="form-control" name="month">
                                <option value="0">Select--</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-4">
                            <label class="control-label" style="float: right;padding-top: 8px">Year :</label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <select id="selectYearId" class="form-control" name="year">
                                <option value="0">Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group clear_both">
                        <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-md-8 col-sm-8 col-xs-12"
                             style="padding-left: 80px">
                            <button type="button" class="btn btn-primary" style="width: 20%"
                                    onclick="validationOrSendInfo()">
                                Check
                            </button>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="clear_both">
                </div>
                <div id="salarySlipId">
                    {% if foundMsg == 'found' %}
                        <div class="form-group text-center">
                            <label class="control-label">
                                <b style="font-size: 20px">Salary Slip Preview - January 2016</b>
                            </label>
                        </div>
                        <hr class="clear_both">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-offset-1 col-sm-1 col-xs-1 col-md-10 col-sm-10 col-xs-10">
                                <div class="form-group text-center" style="margin-bottom: 1px">
                                    <label class="control-label">
                                        <b style="font-size: 20px">Employee Details</b>
                                    </label>
                                </div>
                                <table class="table table-condensed" style="padding:2pt 2pt 2pt 2pt;">
                                    <table class="table table-condensed" style="padding:2pt 2pt 2pt 2pt;border-color: #FFFFFF" border="1px">
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Name</b> :</td>
                                            <td style="width: 75%;font: 16px;border-color: #ddd">{{ empinfo.empName }}</td>
                                        </tr>
                                    </table>
                                    <table class="table table-condensed" style="padding:2pt 2pt 2pt 2pt;border-color: #FFFFFF" border="1px">
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Id</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ empinfo.empId }}</td>
                                            <td style="width: 22%;font: 14px;border-color: #ddd"><b>Phone No.</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ empinfo.phone }}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Designation</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ empinfo.designation }}</td>
                                            <td style="width: 22%;font: 14px;border-color: #ddd"><b>Pan No.</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ empinfo.panNo }}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Work Location</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ empinfo.workLocation }}</td>
                                            <td style="width: 22%;font: 14px;border-color: #ddd"><b>Account No.</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ empinfo.AccountNo }}</td>
                                        </tr>
                                    </table>
                                </table>
                                <div class="form-group text-center">
                                    <label class="control-label">
                                        <b style="font-size: 20px">Attendance Details</b>
                                    </label>
                                </div>
                                <table class="table table-condensed" style="padding:2pt 2pt 2pt 2pt;border-color: #FFFFFF" border="1px">
                                    <tr>
                                        <td style="width: 25%;font: 14px;border-color: #ddd"><b>Working Days</b> :</td>
                                        <td style="width: 25%;font: 16px;border-color: #ddd">{{ totaldays }}</td>
                                        <td style="width: 25%;font: 14px;border-color: #ddd"><b>Allow Leaves</b> :</td>
                                        <td style="width: 25%;font: 16px;border-color: #ddd">{{ allowleaves }}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;font: 14px;border-color: #ddd"><b>Present Days</b> :</td>
                                        <td style="width: 25%;font: 16px;border-color: #ddd">{{ presentdays }}</td>
                                        <td style="width: 25%;font: 14px;border-color: #ddd"><b>Absent Days</b> :</td>
                                        <td style="width: 25%;font: 16px;border-color: #ddd">{{ absentdays }}</td>
                                    </tr>
                                </table>
                                <div class="form-group text-center">
                                    <label class="control-label">
                                        <b style="font-size: 20px">Salary Details</b>
                                    </label>
                                </div>
                                <table class="table table-condensed" style="padding:2pt 2pt 2pt 2pt;border-color: #FFFFFF;margin: 0px" border="1px">
                                    <tr>
                                        <th style="width: 25%;font: 16px;border-color: #ddd"><b>Earnings</b></th>
                                        <th style="width: 25%;font: 16px;border-color: #ddd"><b>Amount</b></th>
                                        <th style="width: 25%;font: 16px;border-color: #ddd"><b>Deductions</b></th>
                                        <th style="width: 25%;font: 16px;border-color: #ddd"><b>Amount</b></th>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;font: 14px;border-color: #ddd"><b>Month Salary</b> :</td>
                                        <td style="width: 25%;font: 16px;border-color: #ddd">Rs. {{ empinfo.salary }}</td>
                                        <td style="width: 25%;font: 14px;border-color: #ddd"><b>Deduction</b> :</td>
                                        <td style="width: 25%;font: 16px;border-color: #ddd">Rs. {{ deduction }}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;font: 14px;border-color: #ddd"><b>Total</b> :</td>
                                        <td style="width: 25%;font: 16px;border-color: #ddd">Rs. {{ empinfo.salary }}</td>
                                        <td style="width: 25%;font: 14px;border-color: #ddd"><b>Total</b> :</td>
                                        <td style="width: 25%;font: 16px;border-color: #ddd">Rs. {{ deduction }}</td>
                                    </tr>
                                </table>
                                <table class="table" style="padding:2pt 2pt 2pt 2pt;border-color: #FFFFFF" border="1px">
                                    <tr>
                                        <td style="width: 100%;font: 16px"><b>Net Earnings : </b>Rs. {{ totalsalary }}</td>
                                    </tr>
                                </table>
                                <hr class="clear_both">
                                <div class="form-group">
                                    <label id="errorDiv1" class="clear_both col-md-12 col-sm-12 col-xs-12">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 col-sm-2 col-xs-6">
                                        <label class="control-label" style="float: right;padding-top: 8px">Payment Mode :</label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="selectModeId" class="form-control" name="payMode">
                                            <option value="0">Select--</option>
                                            <option value="Credit">Credit</option>
                                            <option value="Debit">Debit</option>
                                            <option value="Check">Check</option>
                                            <option value="Cash">Cash</option>
                                            <option value="Online">Online</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-6">
                                        <label class="control-label" style="float: right;padding-top: 8px">Comment:</label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <textarea class="form-control" rows="4" id="commentId" name="comment"
                                                  placeholder="Enter Comment" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group text-center col-sm-12 col-xs-12 col-md-12">
                                    <button type="button" class="btn btn-primary" onclick="checkAndSendInfo()">
                                        Save&GenerateSlip
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% elif foundMsg == 'notfound' %}
                        <div class='alert alert-danger col-md-10 col-sm-10 col-xs-10' id='editErrorAlert'>
                            <label id='error'>Employee record not found for saving InTime</label>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </body>
    <script type="text/javascript">
        for (i = new Date().getFullYear(); i >= 2014; i--) {
            $('#selectYearId').append($('<option />').val(i).html(i));
        }
    </script>
</html>