<!DOCTYPE html>
<html>
    <head>
        <title>Datewise Attendance Report</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <script src="{{ STATIC_URL }}js/jqueryv1.11.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/divclasses.css">
        <script src="{{ STATIC_URL }}js/moment.js"></script>
        <script src="{{ STATIC_URL }}js/HRDashboard.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
        <link href="{{ STATIC_URL }}CSS/lab.css?v=1.5" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse" style="margin:0;">
        </header>
        <section>
            <div class="col-md-2 col-sm-4 col-xs-4" id="nav-sidebar">
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-nav"></div>
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-close" style="display: none;"></div>
                <div class="bs-sidebar col-md-2">
                    <img class="pull-right hidden-md hidden-lg" src="{{ MEDIA_URL }}../media/images/sidebar.png"
                         onclick="sidebar()"
                         id="click" title="Click to view the side panel">
                    <ul class="nav nav-pills nav-stacked bs-sidenav">
                        <li style="font-size: 14px">
                            <a href="/hrHome/"><b>Home</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/staffAdd/"><b>Staff Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li class="active" style="font-size: 14px;">
                            <a href="#"><b>Attendance Management</b></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/bulkAttendanceDaily/">Daily Attendance</a></li>
                                <li><a href="/bulkAttendanceMonthly/">Monthly Attendance</a></li>
                                <li class="active"><a href="#">Datewise Report</a></li>
                                <li><a href="/individualAttendanceSummary/">Individual Summary</a></li>
                                <li><a href="/bulkAttendanceSummary/">Bulk Summary</a></li>
                            </ul>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/employeeListForSalary/"><b>Payroll Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/hrLogout/"><b>Logout</b></a>
                        </li>
                        <hr style="margin: 0">
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <div class="form-group">
                    <label class="control-label col-sm-7 col-xs-12 col-md-7"><h3>Datewise Report</h3>
                    </label>
                </div>
                <hr class="clear_both">
                <div class="form-group">
                    <div id="errorDiv" class="clear_both col-md-10 col-sm-10 col-xs-10">
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 10px;padding-top: 10px">
                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-12">
                        <label class="control-label" style="float: right;padding-top: 8px">
                            Select Date :
                        </label>
                    </div>
                    <div class="input-append float_left col-lg-3 col-sm-3 col-3 picktime">
                        <input readonly="true" id="reportDateId" size="18" type="text" placeholder="Click to select date" class="form-control">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <button type="button" class="btn btn-primary" style="width: 24%"
                                onclick="displayReport()">Check
                        </button>
                    </div>
                </div>
                <hr class="clear_both">
                {% if show == 'show'%}
                    <div class="form-group text-center">
                        <label class="control-label">
                            <b style="font-size: 20px">{{ currentDate|date:"l, j N, o" }}</b>
                        </label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group col-md-offset-1 col-md-offset-1 col-xs-offset-1
                            col-md-10 col-sm-10 col-xs-12">
                            <hr class="clear_both">
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <label class="control-label">Emp Id</label>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <label class="control-label">Emp Name</label>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 20px">
                                <label class="control-label">InTime</label>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 20px">
                                <label class="control-label">OutTime</label>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 20px">
                                <label class="control-label">Status</label>
                            </div>
                        </div>
                        {% for p in presentAttendanceReport %}
                            <div class="rowList form-group col-md-offset-1 col-md-offset-1 col-xs-offset-1
                                col-md-10 col-sm-10 col-xs-12">
                                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 30px">
                                    <label class="control-label">{{ p.empId.empId }}</label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <label class="control-label">{{ p.empId.empName }}</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 20px">
                                    <label class="control-label">{{ p.inTime }}</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 20px">
                                    <label class="control-label">
                                        {% if p.outTime == None %}
                                            -
                                        {% else %}
                                            {{ p.outTime }}
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 20px">
                                    <label class="control-label">Present</label>
                                </div>
                            </div>
                        {% endfor %}
                        {% for a in absentAttendanceReport %}
                            <div class="rowList form-group col-md-offset-1 col-md-offset-1 col-xs-offset-1
                                col-md-10 col-sm-10 col-xs-12">
                                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 30px">
                                    <label class="control-label">{{ a.empId }}</label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <label class="control-label">{{ a.empName }}</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 20px">
                                    <label class="control-label">-</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 20px">
                                    <label class="control-label">-</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 20px">
                                    <label class="control-label">Absent</label>
                                </div>
                            </div>
                        {% endfor %}
                        <hr class="clear_both">
                    </div>
                {% endif %}
            </div>
        </section>
    </body>
    <script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
    <link type="text/css" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(".picktime").datetimepicker({
        });
    </script>
</html>