<!DOCTYPE html>
<html>
    <head>
        <title>Update Staff</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/profileUpload.js"></script>
        <script src="{{ STATIC_URL }}js/jqueryv1.11.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/collaps.js"></script>
        <script src="{{ STATIC_URL }}js/EditStaff.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.Jcrop.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/EditStaff.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
        <link href="{{ STATIC_URL }}CSS/lab.css?v=1.5" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/jquery.Jcrop.min.css" rel="stylesheet">
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse" style="margin:0;">
        </header>
        <section>
            <div class="col-md-2 col-sm-4 col-xs-4" id="nav-sidebar">
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-nav"></div>
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-close" style="display: none;"></div>
                <div class="bs-sidebar col-md-2">
                    <img class="pull-right hidden-md hidden-lg" src="{{ MEDIA_URL }}../media/images/sidebar.png"
                         onclick="sidebar()"
                         id="click" title="Click to view the side panel">
                    <ul class="nav nav-pills nav-stacked bs-sidenav">
                        <li style="font-size: 14px">
                            <a href="/hrDashboard/"><b>Dashboard</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li class="active" style="font-size: 14px">
                            <a href="#"><b>Staff Management</b></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#">Add/Edit Staff</a></li>
                                <li><a href="/employeeInformation/">Employee Information</a></li>
                            </ul>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/bulkAttendanceDaily/"><b>Attendance Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/employeeListForSalary/"><b>Payroll Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li><a href="/logout/"><b>Logout</b></a></li>
                        <hr style="margin: 0">
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2" style="padding: 0px 30px;">
                <div class="form-group" style="padding-top: 2%">
                    <div class="col-md-offset-2 col-sm-offset-2 col-xs-10"></div>
                    <div class="btn-group btn-group-justified">
                        <a href="/staffAdd/" class="btn btn-default">Add Staff</a>
                        <a href="#" class="btn btn-primary">Edit Staff</a>
                    </div>
                </div>
                <div class="form-group">
                    <label id="msgDiv" class="clear_both col-sm-12 col-xs-12 col-md-12"> </label>
                </div>
                <div class="form-group col-sm-12">
                    {% if msg1 == "Record Updated successfully" %}
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ msg1 }}</strong>
                        </div>
                    {% elif msg1 == "Server error Record not update" %}
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ msg1 }}</strong>
                        </div>

                    {% endif %}
                </div>
                <div class="form-group col-sm-12">
                    {% if disable == "Employee Disable" %}
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ disable }}</strong>
                        </div>
                    {% elif disable == "server error" %}
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ disable }}</strong>
                        </div>
                    {% endif %}
                </div>
                <input type="hidden" id="csrftoken" value="{{ csrf_token }}">
                <label class="control-label col-md-offset-2 col-sm-4 col-xs-12 col-md-4"><h4>Choose Employee For Update:</h4>
                </label>
                <div class="col-sm-3 col-xs-12 col-md-3">
                    <select id="selectId" class="form-control" name="employee" onchange="displayForm()">
                        <option>--Select--</option>
                        {% for empObj in emplist %}
                            <option value="{{ empObj.empId }}">{{ empObj.empName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="EditDiv" {% if empObj %} style="display: block" {% else %} style="display: none" {% endif %}>
                    <form method="POST" name="asform" action="/saveEditedStaff/" class="form-horizontal"
                          role="form"> {% csrf_token %}
                        <div class="form-group">
                            <!--<label class="control-label col-sm-8 col-xs-12 col-md-8"><h1>Update Information</h1></label>-->
                        </div>
                        <div id="personal">
                            <div class="panel panel-default">
                                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#Det1"
                                   data-parent="#personal">Personal Details
                                    <span class="glyphicon glyphicon-plus pull-right"></span>
                                </a>
                                <div id="Det1" class="sublinks collapse in" aria-expanded="true">
                                    <br>
                                    <div class="form-group" style="padding-left:4px">
                                        <div class="form-group required" style="padding-left: 4px">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Name:</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input type="text" class="form-control" id="n1" name="n2" value="{{ empObj.empName }}">
                                            </div>
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                Profile Photo:
                                            </label>
                                            <div id="fileProfileDiv">
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    <input id="fileProfile" onchange="fileUpload(this)" class="input-file"
                                                       name="profile"
                                                       type="file">
                                                    <span class="upload-message"></span>
                                                </div>
                                            </div>
                                            <div id="profImageDiv" class="col-md-6 col-sm-6 col-md-6" align="center"
                                                 style="padding: 0px 0 15px 0">
                                                <img src="#" id="uploadImage">
                                                <br>
                                                <button id="uploadId" type="button" class="btn btn-primary"
                                                        style="visibility: hidden"
                                                        onclick="uploadProfilePic()">Upload
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group required" style="padding-left: 4px">
                                            <label class="control-label col-sm-2 col-xs-12 col-md-2">Gender:</label>
                                            <div class="col-sm-3 col-xs-12 col-md-3">
                                                <label class="radio-inline"><input type="radio" name="gender"
                                                                                   value="Male">Male</label>
                                                <label class="radio-inline"><input type="radio" name="gender"
                                                                                   value="Female">Female</label>
                                            </div>
                                        </div>
                                        <div class="form-group required" style="padding-left: 4px">
                                            <label class="control-label col-sm-2 col-xs-12 col-md-2">Mobile No:</label>
                                            <div class="col-sm-3 col-xs-12 col-md-3">
                                                <input type="text" class="form-control" maxlength="10" name="contact"
                                                       id="phonenumber" value="{{ empObj.phone }}" required>
                                            </div>
                                            <label class="control-label col-sm-2 col-xs-12 col-md-2">Email:</label>
                                            <div class="col-sm-3 col-xs-12 col-md-3">
                                                <input type="text" class="form-control" id="email" onkeyup="validEmail('email')"
                                                       placeholder="eg.livehealth@gmail.com" name="email"
                                                       value="{{ empObj.email }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group required" style="padding-left: 4px">
                                            <label class="control-label col-sm-2 col-xs-12 col-md-2">Marital Status:</label>
                                            <div class="col-sm-3 col-xs-12 col-md-3">
                                                <label class="radio-inline"><input type="radio" name="mstatus" id="single"
                                                                                   value="Single"
                                                                                   onclick="checkMarriatleStatus()">Single</label>
                                                <label class="radio-inline"><input type="radio" name="mstatus" id="married"
                                                                                   value="Married"
                                                                                   onclick="checkMarriatleStatus()">Married</label>
                                            </div>
                                            <div id="dobDiv" style="display: none">
                                                <label class="control-label col-sm-2 col-xs-12 col-md-2">Anniversary Date:</label>
                                                <div class="col-sm-3 col-xs-12 col-md-3">
                                                    <input type="date" class="form-control"
                                                           value="{{ empObj.anniversaryDate }}" id="andate" name="adate">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group required" style="padding-left: 4px">
                                            <label class="control-label col-sm-2 col-xs-12 col-md-2">Address:</label>
                                            <div class="col-sm-3 col-xs-12 col-md-3">
                                                    <textarea class="form-control" rows="4" id="address" name="add"
                                                              placeholder="Enter Address"
                                                              required>{{ empObj.address }}</textarea>
                                            </div>
                                            <label class="control-label col-sm-2 col-xs-12 col-md-2">Birth Date:</label>
                                            <div class="col-sm-3 col-xs-12 col-md-3">
                                                <input type="date" class="form-control" id="bdate" name="bdate" value="{{ empObj.birthDate }}" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="CompanyDetails">
                            <div class="panel panel-default">
                                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#Det4"
                                   data-parent="#personal">Company Details
                                    <span class="glyphicon glyphicon-plus pull-right"></span>
                                </a>
                                <div id="Det4" class="sublinks collapse in" aria-expanded="true">
                                    <br>
                                    <div class="form-group" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Department:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <select class="form-control" id="dept" name="department">
                                                {% for dept in dept %}
                                                    <option>{{ dept.deptName }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Designation:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" name="designation" value="{{ empObj.designation }}">
                                        </div>
                                    </div>
                                    <div class="form-group" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Work Location:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" name="wlocation" placeholder="Enter Work Location" value="{{ empObj.workLocation }}" required>
                                        </div>
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Experience:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" name="exp" placeholder="Enter Enxperience" value="{{ empObj.experience }}">
                                        </div>
                                    </div>
                                    <div class="form-group" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Joining Date:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="date" class="form-control" id="jDate" name="jdate" value=moment({{ empObj.joinDate }})>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="BankDetails">
                            <div class="panel panel-default">
                                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#Det5"
                                   data-parent="#CompanyDetails">Bank Details
                                    <span class="glyphicon glyphicon-plus pull-right"></span></a>
                                <div id="Det5" class="sublinks collapse">
                                    <br>
                                    <div class="form-group required" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Bank Name:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" id="bankname" name="bankName" placeholder="Enter Bank Name." value="{{ empObj.bankName }}" required>
                                        </div>
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Account Type:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" id="acctype" name="accType" placeholder="Account Type" value="{{ empObj.accType }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group required" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Account Number:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" name="accNo" value="{{ empObj.AccountNo }}" required>
                                        </div>
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">PAN Number:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" name="pno"
                                                   value="{{ empObj.panNo }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Liscene Number:
                                        </label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" name="lno"
                                               value="{{ empObj.licenseNo }}" required>
                                        </div>
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">IFSC Code:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" id="IFSC"
                                               value="{{ empObj.ifscCode }}" name="IFSC"
                                               placeholder="Enter IFSC Code"
                                               required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="salaryPolicy">
                            <div class="panel panel-default">
                                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#policy"
                                   data-parent="#BankDetails">Policy
                                    Details
                                    <span class="glyphicon glyphicon-plus pull-right"></span></a>
                                <div id="policy" class="sublinks collapse">
                                    <br>
                                    <div class="form-group" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Salary:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" id="salary" name="salary" value="{{ empObj.salary }}">
                                        </div>
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Salary Type:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" id="salaryType" name="salaryType"
                                                   placeholder="Enter Salary Type" value="{{ empObj.salaryPolicyId.salaryType }}">
                                        </div>
                                    </div>
                                    <div class="form-group" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Name:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" id="salaryPolicyName" name="salaryPolicyName"
                                                   value="{{ empObj.salaryPolicyId.name }}" required>
                                        </div>
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">%:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" id="percentage" name="percentage"
                                                   placeholder="Enter % " value="{{ empObj.salaryPolicyId.percentage }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Nationality">
                            <div class="panel panel-default">
                                <a href="#" class="list-group-item collapsed" data-toggle="collapse" data-target="#Det3" data-parent="#salaryPolicy" aria-expanded="true">Nationality Details
                                    <span class="glyphicon glyphicon-plus pull-right"></span></a>
                                <div id="Det3" class="sublinks collapse">
                                    <br>
                                    <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Nationality:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="nationality" name="nationality" value="{{ empObj.nationality }}">
                                    </div>
                                    <div class="form-group" style="padding-left: 4px">
                                        <label class="control-label col-sm-2 col-xs-12 col-md-2">Adhar No:</label>
                                        <div class="col-sm-3 col-xs-12 col-md-3">
                                            <input type="text" class="form-control" id="adharNo" name="adharNo"
                                               placeholder="Entre Adhar card no" value="{{ empObj.adharNo }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-left: 4px">
                                    <label class="control-label col-sm-2 col-xs-12 col-md-2">Passport No:</label>
                                    <div class="col-sm-3 col-xs-12 col-md-3">
                                        <input type="text" class="form-control" id="passportNo" name="passport"
                                                placeholder="Entre Passport no" value="{{ empObj.passportNo }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="text-center col-sm-12 col-xs-12 col-md-12 ">
                        <button type="submit" class="btn btn-primary" onclick="checkContact(document.asform.contact)">Update
                        </button>
                        <button type="button" class="btn btn-danger" id="checkout_button" onclick="disableEmp()">Disable</button>
                        <hr>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>