<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ empinfo.empName }}'s Salary Slip</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{{ STATIC_URL }}CSS/style.css" rel="stylesheet">
    <style type="text/css">
        @page {
            size: A4 portrait;
            @frame header_frame {
            -pdf-frame-content: header_content;
            top: 30pt;
            left: 50pt;
            width: 500pt;
        }
        @frame footer_frame {
        -pdf-frame-content:footer_content;
        left: 50pt;top: {{ 130 }};
        }
        @frame content_frame {
        -pdf-frame-content:body_content;
        left: 50pt; width: 515pt;top: {{  160  }}pt; height: {{ 600 }}pt;
        }
        }
    </style>
</head>
<body>
<div id="header_content">
    <table style="padding:3pt 3pt 3pt 3pt;" border="0pt">
        <tr>
            <td><img src="{{ MEDIA_URL }}images/LHicon2.png"/></td>
        </tr>
        <table style="padding:3pt 3pt 3pt 3pt;" border="0pt">
            <tr>
                <td style="width: 100%">
                    <h2 style="text-align: center;margin:0pt;padding-top: 0pt; font-size: 20px">LIVEHEALTH</h2>
                    <p style="text-align: left; font: 4"></p>
                </td>
            </tr>
        </table>
        <table style="padding:3pt 3pt 3pt 3pt;" border="0pt">
            <tr>
                <td>
                    <h2 style="text-align: center;margin:0pt;padding-top: 0pt;font: 18px">Salary Slip for the month
                        of {{ monthname }} {{ year }}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <hr style="margin:0pt 0pt 2pt 0pt;">
                    <hr style="margin:0pt 0pt 2pt 0pt;">
                </td>
            </tr>
        </table>
    </table>
</div>
<div id="body_content">
    <br>
    <h2 style="text-align: center;margin:0pt;padding-top: 0pt;font: 18px">Employee Details</h2>
    <table style="padding:2pt 2pt 2pt 2pt;" border="1pt">
        <tr>
            <td style="width: 25%;font: 14px"><b>Name</b> :</td>
            <td style="width: 72%;font: 16px">{{ empinfo.empName }}</td>
        </tr>
        <table style="padding:2pt 2pt 2pt 2pt;" border="1pt">
            <tr>
                <td style="width: 25%;font: 14px"><b>Id</b> :</td>
                <td style="width: 25%;font: 16px">{{ empinfo.empId }}</td>
                <td style="width: 22%;font: 14px"><b>Phone No.</b> :</td>
                <td style="width: 25%;font: 16px">{{ empinfo.phone }}</td>
            </tr>
            <tr>
                <td style="width: 25%;font: 14px"><b>Designation</b> :</td>
                <td style="width: 25%;font: 16px">{{ empinfo.designation }}</td>
                <td style="width: 22%;font: 14px"><b>Pan No.</b> :</td>
                <td style="width: 25%;font: 16px">{{ empinfo.panNo }}</td>
            </tr>
            <tr>
                <td style="width: 25%;font: 14px"><b>Work Location</b> :</td>
                <td style="width: 25%;font: 16px">{{ empinfo.workLocation }}</td>
                <td style="width: 22%;font: 14px"><b>Account No.</b> :</td>
                <td style="width: 25%;font: 16px">{{ empinfo.AccountNo }}</td>
            </tr>
        </table>
    </table>
    <br>
    <h2 style="text-align: center;margin:0pt;padding-top: 5pt;font: 18px">Attendance Details</h2>
    <hr style="margin:0pt 0pt 2pt 0pt;">
    <br>
    <table style="padding:2pt 2pt 2pt 2pt;" border="0pt">
        <tr>
            <td style="width: 30%;font: 14px"><b>Working Days</b> :</td>
            <td style="width: 20%;font: 16px">{{ totaldays }}</td>
            <td style="width: 30%;font: 14px"><b>Allow Leaves</b> :</td>
            <td style="width: 20%;font: 16px">{{ allowleaves }}</td>
        </tr>
        <tr>
            <td style="width: 30%;font: 14px"><b>Present Days</b> :</td>
            <td style="width: 20%;font: 16px">{{ presentdays }}</td>
            <td style="width: 30%;font: 14px"><b>Absent Days</b> :</td>
            <td style="width: 20%;font: 16px">{{ absentdays }}</td>
        </tr>
    </table>
    <hr style="margin:0pt 0pt 2pt 0pt;">
    <br>
    <h2 style="text-align: center;margin:0pt;padding-top: 5pt;font: 18px">Salary Details</h2>
    <table style="padding:2pt 2pt 2pt 2pt;" border="0pt">
        <tr>
            <td>
                <table style="padding:2pt 2pt 2pt 2pt;" border="1pt">
                    <tr>
                        <th style="width: 45%;font: 16px"><b>Earnings</b></th>
                        <th style="width: 55%;font: 16px"><b>Amount</b></th>
                    </tr>
                    <tr>
                        <td style="width: 45%;font: 14px"><b>Month Salary</b> :</td>
                        <td style="width: 55%;font: 16px">Rs. {{ empinfo.salary }}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%;font: 14px"><b>Total</b> :</td>
                        <td style="width: 55%;font: 16px">Rs. {{ empinfo.salary }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table style="padding:2pt 2pt 2pt 2pt;" border="1pt">
                    <tr>
                        <th style="width: 45%;font: 16px"><b>Deductions</b></th>
                        <th style="width: 55%;font: 16px"><b>Amount</b></th>
                    </tr>
                    <tr>
                        <td style="width: 45%;font: 14px"><b>Deduction</b> :</td>
                        <td style="width: 55%;font: 16px">Rs. {{ deduction }}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%;font: 14px"><b>Total</b> :</td>
                        <td style="width: 55%;font: 16px">Rs. {{ deduction }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table style="padding:2pt 2pt 2pt 2pt;" border="1pt">
        <tr>
            <td style="width: 100%;font: 16px"><b>Net Earnings : </b>Rs. {{ totalsalary }}</td>
        </tr>
    </table>
</div>
</body>
</html>