<!DOCTYPE html>
<html>
    <head>
        <title>Employee Information</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <script src="{{ STATIC_URL }}js/jqueryv1.11.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/divclasses.css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
        <link href="{{ STATIC_URL }}CSS/lab.css?v=1.5" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse" style="margin:0;">
        </header>
        <section>
            <div class="col-md-2 col-sm-4 col-xs-4" id="nav-sidebar">
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-nav"></div>
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-close" style="display: none;"></div>
                <div class="bs-sidebar col-md-2">
                    <img class="pull-right hidden-md hidden-lg" src="{{ MEDIA_URL }}images/sidebar.png"
                         onclick="sidebar()"
                         id="click" title="Click to view the side panel">
                    <ul class="nav nav-pills nav-stacked bs-sidenav">
                        <li style="font-size: 14px">
                            <a href="/hrHome/"><b>Home</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li class="active" style="font-size: 14px">
                            <a href="#"><b>Staff Management</b></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/staffAdd/">Add/Edit Staff</a></li>
                                <li class="active"><a href="#">Employee Information</a></li>
                            </ul>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/bulkAttendanceDaily/"><b>Attendance Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/employeeListForSalary/"><b>Payroll Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li><a href="/hrLogout/"><b>Logout</b></a></li>
                        <hr style="margin: 0">
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2" style="padding: 0px 30px;">
                <br>
                <div class="container col-md-12 col-md-12 col-xs-12">
                    <!--<div class="form-group">
                        <label class="control-label col-sm-8"><h1>Employee Personal Info</h1></label>
                    </div>-->
                    <div class="form-group col-md-12 col-md-12 col-xs-12">
                        <div class="col-sm-2 col-xs-12 col-md-2 text-right">
                            <label class="control-label text-center col-sm-12 col-xs-12 col-md-12">Select Employee:</label>
                        </div>
                        <div class="col-sm-4 col-xs-12 col-md-4">
                            <select id="selectId" class="form-control" name="employee" onchange="displayForm()">
                                <option>--Select--</option>
                                   {% for sel in sel %}
                                        <option value="{{ sel.empId }}">{{ sel.empName }}&nbsp;&nbsp;&nbsp;  (Id:{{ sel.empId }})</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="EditDiv" {% if empObj %} style="display: block" {% else %} style="display: none" {% endif %}>
                    <form method="GET" name="asform" action="/employeeInformation/" class="form-horizontal" role="form"> {% csrf_token %}
                        {% for sel in empObj %}
                            <div class="form-group">
                                <br>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-sm-5 col-xs-12 col-md-5">{{ sel.empName }}'s profile...</label>
                            </div>
                            <div class="form-group col-sm-10 col-md-10 col-xs-10" align="right">
                                <img border="2" src="{{ MEDIA_URL }}{{ sel.profilePic}}" height="100" width="100"/>
                            </div>
                            <hr class="clear_both col-md-12 col-sm-12 col-xs-12">
                            {#  <div class="col-md-12 col-sm-12 col-xs-12">#}
                            <div class="col-md-offset-1 col-sm-1 col-xs-1 col-md-8 col-sm-8 col-xs-12">
                                <div class="form-group text-center" style="margin-bottom: 1px">
                                    <label class="control-label">
                                        <b style="font-size: 20px">Employee Details</b>
                                    </label>
                                </div>
                                <table class="table table-condensed" style="padding:2pt 2pt 2pt 2pt;">
                                    <table class="table table-condensed" style="padding:2pt 2pt 2pt 2pt;border-color: #FFFFFF" border="1px">
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Name</b> :</td>
                                            <td style="width: 75%;font: 16px;border-color: #ddd">{{ sel.empName }}</td>
                                        </tr>
                                    </table>
                                    <table class="table table-condensed" style="padding:2pt 2pt 2pt 2pt;border-color: #FFFFFF" border="1px">
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Id</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.empId }}</td>
                                            <td style="width: 22%;font: 14px;border-color: #ddd"><b>Phone No.</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.phone }}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Email</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.email }}</td>
                                            <td style="width: 22%;font: 14px;border-color: #ddd"><b>Pan No.</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.panNo }}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Address:</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.address }}</td>
                                            <td style="width: 22%;font: 14px;border-color: #ddd"><b>Join Date.</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.joinDate | date:"d/M/Y" }}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Birth Date:</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.birthDate | date:"d/M/Y" }}</td>
                                            <td style="width: 22%;font: 14px;border-color: #ddd"><b>Anniversary Date:</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.anniversaryDate | date:"d/M/Y" }}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 25%;font: 14px;border-color: #ddd"><b>Work Location</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.workLocation }}</td>
                                            <td style="width: 22%;font: 14px; border-color: #ddd"><b>Account No.</b> :</td>
                                            <td style="width: 25%;font: 16px;border-color: #ddd">{{ sel.AccountNo }}</td>
                                        </tr>
                                    </table>
                                 </table>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
            <script type="application/javascript">
            function displayForm() {
               var empId = document.getElementById('selectId').value;
               window.location.href = "/employeeInformation/?empId=" + empId;
            }
        </script>
    </section>
    </body>
</html>