<!DOCTYPE html>
<html>
    <head>
        <title>HR Dashboard</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <script src="{{ STATIC_URL }}js/jqueryv1.11.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/divclasses.css">
        <script src="{{ STATIC_URL }}js/moment.js"></script>
        <script src="{{ STATIC_URL }}js/HRDashboard.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
        <link href="{{ STATIC_URL }}CSS/lab.css?v=1.5" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse" style="margin:0;">
        </header>
        <section>
            <div class="col-md-2 col-sm-4 col-xs-4" id="nav-sidebar">
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-nav"></div>
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-close" style="display: none;"></div>
                <div class="bs-sidebar col-md-2">
                    <img class="pull-right hidden-md hidden-lg" src="{{ MEDIA_URL }}../media/images/sidebar.png" onclick="sidebar()"
                         id="click" title="Click to view the side panel">
                    <ul class="nav nav-pills nav-stacked bs-sidenav">
                        <li class="active" style="font-size: 14px">
                            <a href="#"><b>Dashboard</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/staffAdd/"><b>Staff Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/bulkAttendanceDaily/"><b>Attendance Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/employeeListForSalary/"><b>Payroll Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li><a href="/hrLogout/"><b>Logout</b></a></li>
                        <hr style="margin: 0">
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <div class="form-group">
                    <label class="control-label col-sm-7 col-xs-12 col-md-7"><h3>Dashboard</h3>
                    </label>
                </div>
                <hr class="clear_both">
                <div class="form-group text-left">
                    <label class="control-label">
                        <span class="label label-info" style="font-size: 14px">
                            Total Employee : {{ staffCount }}
                        </span>
                    </label>
                    <label class="control-label">
                        <span class="label label-success" style="font-size: 14px">
                            Total Present : {{ pCount }}
                        </span>
                    </label>
                    <label class="control-label">
                        <span class="label label-danger" style="font-size: 14px">
                            Total Absent : {{ aCount }}
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <div id="errorDiv" class="clear_both col-md-10 col-sm-10 col-xs-10">
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 10px;padding-top: 10px">
                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-12">
                        <label class="control-label" style="float: right;padding-top: 8px">
                            Select Date :
                        </label>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3">
                        <div class="input-group date picktime">
                            <input readonly="true" type="text" class="form-control" id="reportDateId" size="18"
                                   value="{{ currentDate }}">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-date"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <button type="button" class="btn btn-primary" style="width: 24%"
                                onclick="displayReport()">Check
                        </button>
                    </div>
                </div>
                <hr class="clear_both">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group col-md-offset-1 col-md-offset-1 col-xs-offset-1
                            col-md-10 col-sm-10 col-xs-12">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Emp Id</th>
                                <th>Emp Name</th>
                                <th>InTime</th>
                                <th>OutTime</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for p in presentAttendanceReport %}
                                  <tr>
                                    <td>{{ p.empId.empId }}</td>
                                    <td>{{ p.empId.empName }}</td>
                                    <td>{{ p.inTime }}</td>
                                    {% if p.outTime == None %}
                                        <td>-</td>
                                    {% else %}
                                        <td>{{ p.outTime }}</td>
                                    {% endif %}
                                    <td>Present</td>
                                  </tr>
                                {% endfor %}
                                {% for a in absentAttendanceReport %}
                                  <tr>
                                    <td>{{ a.empId }}</td>
                                    <td>{{ a.empName }}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>Absent</td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr class="clear_both">
                </div>
            </div>
        </section>
    </body>
    <script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
    <link type="text/css" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(".picktime").datetimepicker({
        });
    </script>
</html>