<!DOCTYPE html>
<html>
    <head>
        <title>Individual Attendance Summary</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <script src="{{ STATIC_URL }}js/jqueryv1.11.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/divclasses.css">
        <script src="{{ STATIC_URL }}js/IndividualAttendanceSummary.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
        <link href="{{ STATIC_URL }}CSS/lab.css?v=1.5" rel="stylesheet">
        <link href="{{ STATIC_URL }}CSS/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse" style="margin:0;">
        </header>
        <section>
            <div class="col-md-2 col-sm-4 col-xs-4" id="nav-sidebar">
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-nav"></div>
                <div class="hidden-md hidden-lg" onclick="sidebar()" id="sidebar-close" style="display: none;"></div>
                <div class="bs-sidebar col-md-2">
                    <img class="pull-right hidden-md hidden-lg" src="{{ MEDIA_URL }}../media/images/sidebar.png"
                         onclick="sidebar()"
                         id="click" title="Click to view the side panel">
                    <ul class="nav nav-pills nav-stacked bs-sidenav">
                        <li style="font-size: 14px">
                            <a href="/hrDashboard/"><b>Dashboard</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/staffAdd/"><b>Staff Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li class="active" style="font-size: 14px;">
                            <a href="#"><b>Attendance Management</b></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/bulkAttendanceDaily/">Daily Attendance</a></li>
                                <li><a href="/bulkAttendanceMonthly/">Monthly Attendance</a></li>
                                <li class="active"><a href="#">Individual Summary</a></li>
                                <li><a href="/bulkAttendanceSummary/">Bulk Summary</a></li>
                            </ul>
                        </li>
                        <hr style="margin: 0">
                        <li style="font-size: 14px">
                            <a href="/employeeListForSalary/"><b>Payroll Management</b></a>
                        </li>
                        <hr style="margin: 0">
                        <li><a href="/hrLogout/"><b>Logout</b></a></li>
                        <hr style="margin: 0">
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <div class="form-group">
                    <label class="control-label"><h3>Individual Attendance Summary</h3>
                    </label>
                </div>
                <hr style="margin: 0">
                <div class="form-group">
                    <label id="errorDiv" class="clear_both col-md-10 col-sm-10 col-xs-10">
                    </label>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-5">
                        <label class="control-label" style="float: right;padding-top: 8px">Employee:</label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <select id="selectEmpId" class="form-control" name="employee">
                            <option value="">Select--</option>
                            {% for sel in sel %}
                                <option value="{{ sel.empId }}">{{ sel.empName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-4">
                        <label class="control-label" style="float: right;padding-top: 8px">Month :</label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <select id="selectMonthId" class="form-control" name="month">
                            <option value="0">Select--</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-4">
                        <label class="control-label" style="float: right;padding-top: 8px">Year :</label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <select id="selectYearId" class="form-control" name="month">
                            <option value="0">Select--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clear_both">
                    <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-md-8 col-sm-8 col-xs-12"
                        style="padding-left: 80px">
                        <button type="button" class="btn btn-primary" style="width: 20%" onclick="validationOrSendInfo()">
                            Check
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="clear_both">
                </div>
                {% if msg == 'found' %}
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <label class="control-label">
                                <h3>{{ employee.empName }} ({{ month }}-{{ year }})</h3>
                            </label>
                            <hr class="clear_both">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group col-md-offset-2 col-md-offset-2 col-xs-offset-1
                            col-md-8 col-sm-8 col-xs-12">
                            <div class="col-md-3 col-sm-3 col-xs-6" style="padding-left: 60px">
                                <label class="control-label">DATE:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6" style="padding-left: 60px">
                                <label class="control-label">IN Time:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6" style="padding-left: 60px">
                                <label class="control-label">OUT Time:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6" style="padding-left: 60px">
                                <label class="control-label">Hours:</label>
                            </div>
                        </div>
                        {% for list,hours in list %}
                            <div class="rowList form-group col-md-offset-2 col-md-offset-2 col-xs-offset-1
                                col-md-8 col-sm-8 col-xs-12">
                                <div class="col-md-3 col-sm-3 col-xs-6" style="padding-left: 60px">
                                    <label class="control-label">{{ list.attendDate | date:"d/M/Y" }}</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6" style="padding-left: 60px">
                                    <label class="control-label">{{ list.inTime | time:"h:i:s a" }}</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6" style="padding-left: 60px">
                                    <label class="control-label">{{ list.outTime | time:"h:i:s a" }}</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-left: 60px">
                                    <label class="control-label">{{ hours }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr class="clear_both">
                    <div class="form-group col-md-offset-2 col-sm-offset-2 col-xs-offset-1 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <label class="control-label">
                                <span class="label label-primary"
                                      style="font-size: 14px">Present Days:{{ presentyCounter }}</span>
                            </label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <label class="control-label col-sm-2 col-xs-6 col-md-2">
                                <span class="label label-primary"
                                      style="font-size: 14px">Absent Days:{{ absentyCounter }}</span>
                            </label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <label class="control-label col-sm-2 col-xs-6 col-md-2">
                                <span class="label label-primary"
                                      style="font-size: 14px">Total Hours:{{ totalHours }}</span>
                            </label>
                        </div>
                    </div>
                {% elif msg == "sorry" %}
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <div class='alert alert-danger alert-dismissable' id='editErrorAlert'>
                            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                            <label id='error'>
                                <strong>Sorry!! Record not found for selected month and year</strong>
                            </label>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </body>
    <script type="text/javascript">
        for (i = new Date().getFullYear(); i >= 2014; i--) {
            $('#selectYearId').append($('<option />').val(i).html(i));
        }
    </script>
</html>