<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="{{MEDIA_URL}}../media/images/Favicon.png" rel="shortcut icon">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <script src="{{ STATIC_URL }}js/jqueryv1.11.3.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}CSS/jquery.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script>$.fn.modal || document.write('<script src="{{ STATIC_URL }}CSS/bootstrap.min.js"><\/script><link rel="stylesheet" href="{{ STATIC_URL }}CSS/bootstrap.min.css">')</script>
    <script src="//fast.eager.io/lPoF2Kyu5j.js"></script>
    <link href="{{STATIC_URL}}CSS/lab.css?v=1.5" rel="stylesheet">
</head>
<body>
    <header class="navbar navbar-inverse" style="border-radius: 0;" role="navigation">
        <div class="container labHome" style="">
            <div class="navbar-header">
                <img src="{{MEDIA_URL}}images/logo.png" alt="Livehealth" class="pull-left" style="height: 30px; margin-top: 10px;" />
            </div>
        </div>
    </header>
    <div class="container labHome" style="padding-top: 10%;">
        <div class="col-md-6 col-sm-6 hidden-xs form-group">
            <img src="{{MEDIA_URL}}images/ios_android_homepage.jpg" id="someImage" class="img-responsive" usemap="#iconMap" style="height: 450px;padding-left: 100px;">
            <map name="iconMap">
              <area shape="rect" coords="0,0,280,450" style="outline:none;" href="https://itunes.apple.com/bj/app/livehealth-doc/id1052452882?mt=8" target="_blank">
              <area shape="rect" coords="450,0,280,450" style="outline:none;" href="https://play.google.com/store/apps/details?id=com.livehealthdoctorapp" target="_blank">
            </map>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-center form-group">
            <ul class="nav nav-tabs">
                <li id="hrTab" class="active"><a href="#" onclick="showHR()">HR Login</a></li>
                <li id="staffTab"><a href="#" onclick="showStaff()">Staff Login</a></li>
                <div id="hrContent" style="float: left;border: 1px solid #ddd;">
                    <h2 style="font-weight: 300;clear: both;padding-top: 20px">HR Login</h2>
                    <h3 class="" style="font-weight: 300;">Livehealth provides you with a perfect online HR management system</h3>
                    <form method="post" action="/hrLogin/" class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2" style="padding: 15px;">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="hrUsername" id="hrUsername" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="hrPassword" id="hrUsername" placeholder="Password">
                        </div>
                        <input type="submit" value="Login" class="btn btn-success" style="width: 150px;">
                    </form>
                </div>
                <div id="staffContent" style="border: 1px solid #ddd;float: left;display: none;">
                    <h2 style="font-weight: 300;clear: both;padding-top: 20px">Staff Login</h2>
                    <h3 style="font-weight: 300;">Livehealth provides you with a perfect online staff report management system</h3>
                    <form method="post" action="/staffLogin/" class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2" style="padding: 15px;">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="staffUsername" id="staffUsername" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="staffPassword" id="staffPassword" placeholder="Password">
                        </div>
                        <input type="submit" value="Login" class="btn btn-success" style="width: 150px;">
                    </form>
                </div>
            </ul>
        </div>
{#        <p class="center-block text-center">To download our Android & iOS app for Doctors & Referrals, <a href="https://play.google.com/store/apps/details?id=com.livehealthdoctorapp" target="_blank">Click here</a><label class="label label-warning" style="margin-left: 10px">New</label></p>#}
    </div>
    <p class="col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6 text-center" style="color: #f00;">{{ msg }}</p>
    <div class="bs-footer labHome" id="footer" style="position: relative;margin-top: 40px;">
       <div class="container">
          <ul class="footer-links">
                <li><a class="cursor" href="https://livehealth.in/providers" target="_blank">Diagnostic Centre - Features & Benefits</a></li>
                <li class="muted">.</li>
             <li><a href="https://medium.com/@livehealth_/your-centre-on-your-smartphone-livehealth-2-8-41b95a1758b5" target="_blank">Version 2.8</a></li>
                <li class="muted">.</li>
                <li>&copy 2015 Creliant Labs Pvt. Ltd.</li>
          </ul>
       </div>
    </div>
    <script type="text/javascript">
        function showHR()
        {
            document.getElementById('hrTab').setAttribute('class','active');
            document.getElementById('staffTab').removeAttribute('class');
            document.getElementById('hrContent').style.display = "block";
            document.getElementById('staffContent').style.display = "none";
        }
        function showStaff()
        {
            document.getElementById('staffTab').setAttribute('class','active');
            document.getElementById('hrTab').removeAttribute('class');
            document.getElementById('staffContent').style.display = "block";
            document.getElementById('hrContent').style.display = "none";
        }

        function sideImage()
        {
            var cookieValue = getCookie('headerLabLogo');
            if (cookieValue == 'suyog_logo.png')
            {
                document.getElementById('someImage').src='{{MEDIA_URL}}images/suyog_logo.png';
            }
        }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42275452-5', 'livehealth.solutions');
      ga('send', 'pageview');
    </script>
</body>
</html>